[2019-07-18 08:43] Stranger6667 opened #2 "Custom VCR config via separate fixture"
Currently, there is no way to specify a module/session-level config without wrapping everything with `pytest.mark.vcr`.
E.g. test module has 10 tests, 2 of them use `pytest.mark.vcr` - if they share the same config it will require manual explicit specification on each mark, which means some duplication. An alternative solution is to have a separate fixture of any scope - `vcr_config` that will be

[2019-07-18 14:52] #2 closed

[2019-07-21 10:41] Stranger6667 opened #7 "List of allowed hosts for `block_network`"
Could be like this:

[code]

List of regular expressions as the input

[2019-07-28 14:03] Stranger6667 opened #8 "Simplify working with network blocker"
Probably two functions will be helpful - `enable` / `disable`, in some cases context manager is not needed and calling `__enter__` / `__exit__` manually is not convenient

[2019-07-28 14:24] #8 closed

[2019-07-31 16:50] dmfigol opened #10 "Don't add YAML extension to JSON cassettes"
Thank you for the plugin. Unfortunately, it is really hard to find it as `pytest-vcr` always comes first in the search.

I have the following issue:
If I use `serializer="json"` and I use something like `@pytest.mark.vcr('list_rooms.json')`, then the plugin adds `yaml` extension to the cassette (`list_rooms.json.yaml`), though it is saved as `json` correctly.

[2019-07-31 19:45] Stranger6667 commented on #10
Hello @dmfigol :)
Thank you for reporting the issue :) I will take a look tomorrow

[2019-08-01 05:54] #10 closed

[2019-08-01 06:14] Stranger6667 commented on #10
Fixed in `0.3.2` release (already on PyPI). Feel free to reopen the issue if the problem occurs again :)

[2019-08-05 21:02] dmfigol opened #12 "Use the plugin on the autouse fixture"
Is there a way to use this plugin on the autouse fixture? Scenario: the test introduces a side effect to HTTP service, so it would be good to have autouse setup/teardown which removes this side-effect allowing the whole test suite to run properly when I delete all cassettes and record all of them.

[2019-08-06 16:05] Stranger6667 commented on #12
Hej!
Marks could be added dynamically, this one could work

‘’’
import pytest

def pytest_collection_modifyitems(items):
    for item in items:
        # maybe some condition here to add marks only if that auto use fixture is present. If it is somewhere lower in the plugin hierarchy
            item.add_marker(pytest.mark.vcr())
‘’’

[2019-08-06 16:14] Stranger6667 commented on #12
However there are some alternatives, will respond in the evening

[2019-08-06 20:42] Stranger6667 commented on #12
The plugin has an autouse fixture `vcr` that relies on the presence of `pytest.mark.vcr` marks. If a single mark is applied to the current test, then a VCR cassette will be used.

But it is possible to reuse some internal code in another fixture with different conditions to run this `use_cassette` function:

[code]

But I didn't test how this code will interact with the rest of the plugin logic. M

[2019-08-09 08:16] Stranger6667 opened #13 "Fuzzy cassettes"
For unhappy path testing, there could be an extra parameter that will mutate recorded cassettes.
Use cases:
- Check how the app will work if the format of responses will change
- Validate error handling

Possible fuzzes:
- Mutate response body. JSON - add/remove fields in objects / lists. Change values. Make JSON invalid.
- Completely change response content type
- Change response status code
- Mu

[2019-08-10 18:53] Stranger6667 opened #15 "Add isort"
We need to sort imports in the repo + validate it on CI

[2019-08-10 22:38] Stranger6667 opened #16 "Control what components to patch in `block_network`"
Sometimes it is needed to use only one or another library to access network. E.g. sometimes `socket` is ok, but `pycurl` is not, or in the case if there will be more libraries to patch (maybe `psycopg2` or some others), then it would be nice to have some granular control over what to disable and what is not

[2019-08-21 08:20] asmodehn opened #18 "nitpicking about license"
I am totally nitpicking here, but the license is not recognized by https://pyup.io. Some other dependencies I have that are also MIT are recognized...

[2019-08-21 08:31] Stranger6667 commented on #18
Hello :) it is caused by missing "license" keyword arg in `setup.py`. Now it is updated and the next uploaded package should have the license recognized.

I'll probably add some small feature from our issues list and release a new version soon :)

[2019-08-21 08:34] asmodehn opened #19 "PASSED test, but never awaited coroutine..."
One of my travis build got, for some reason :
[code]

However the test PASSED...
This should probably FAIL as the test was not run, correct ?

More details at https://travis-ci.org/asmodehn/boken/builds/574739271

[2019-08-21 09:15] asmodehn commented on #18
Great, thanks !

[2019-08-21 09:15] #18 closed

[2019-08-22 19:39] Stranger6667 commented on #19
Currently, there is a warning for it, and the test is considered as skipped - https://github.com/pytest-dev/pytest/blob/master/src/_pytest/python.py#L161

The behavior depends on the pytest version - the coroutine check was added relatively recently and is absent in "4.3.1" version, used in the build. With that pytest version, it is not skipped but passed.

With the recent pytest, there will be a

[2019-08-23 07:41] asmodehn commented on #19
Oh thanks a lot for the explanation ! This makes total sense.
I started to pin dependencies versions to limit this kind of problems in the future...

[2019-08-23 07:41] #19 closed

[2019-08-23 08:23] Stranger6667 commented on #19
You are welcome :)

[2019-08-23 08:24] asmodehn commented on #13
My 2 cents here:

1. To validate error handling, we could have a set of preexisting cassettes in this package (included in the set used by default) that produce errors as a response. Probably a first simple step to tackle here, and see how it goes...
2. To change the response headers, we can follow the HTTP spec, and define data generator (like [hypothesis](https://github.com/HypothesisWorks/hypot

[2019-10-21 15:32] Stranger6667 opened #20 "Throw an error if pytest-vcr is installed"
Otherwise, it could lead to incompatibilities on the fixture level (they will be mixed)

[2019-10-21 16:35] Stranger6667 commented on #20
Done via #21

[2019-10-21 16:35] #20 closed

[2019-11-19 11:14] daaain opened #23 "Stripe library (urlfetch) just waits with `block_network`"
Hey,

Thanks a lot for this library!

I managed to get everything working, except that when I run our test suite with `block_network` it just waits and nothing happens.

VCR functionality does work even if I don't pass the flag so I can run the tests with recorded network communication data, but it seems for some reason the Stripe library (using `urlfetch` [apparently](https://github.com/stripe/st

[2019-11-19 11:21] Stranger6667 commented on #23
Hello, thank you for using our library and reporting this issue :)

It heavily relies on the implementation - if, for example, there is some retry-on-error logic, then the flow could be stuck on this socket connection step and keep retrying and with some unfortunate circumstances it could last an indefinite period of time.

Could you, please, provide some minimum code sample from that Stripe libra

[2019-11-26 15:23] kwmilos commented on #7
Hello :wave: First of all thanks for a wonderful little package, it greatly simplifies testing network interactions for our team.

I'd like to ask, are there any plans to work on the feature described in this issue?

I have a use-case for it in which I'd like to allow connections to 127.0.0.1 (localhost) but keep everything else blocked. The rationale is that blocking localhost breaks our API test

[2019-11-26 16:03] Stranger6667 commented on #7
Thank you Miloš :) I think we can work on it next sprint :)

[2019-12-18 17:06] #7 closed

[2019-12-19 11:05] Stranger6667 commented on #7
Released in `0.4.0` - https://pypi.org/project/pytest-recording/0.4.0/

[2020-01-06 22:10] Stranger6667 opened #28 "Consider always keeping the cassette with default name"
For example if there are a test and a cassette for it and then we need to add some common data:

[code]

In this case, we will look only into `extra.yaml` because of this - https://github.com/kiwicom/pytest-recording/blob/master/src/pytest_recording/plugin.py#L84

However, it is useful to be able to add some extra common data and still using some specific cassette for the test (named by the defaul

[2020-01-06 22:14] Stranger6667 opened #29 "Provide extra config option for shared cassettes dir(s)"
It could be a separate fixture that will return a list of paths where to look for cassettes. Currently, we need to use the full path to the cassette in `pytest.mark.vcr` which is tedious. However, shared cassettes could be used via a separate mark to avoid breaking the existing interface - `pytest.mark.vcr_shared("first.yaml", "second.yaml")`

[2020-01-07 13:03] #15 closed

[2020-01-08 10:24] #28 closed

[2020-01-23 11:50] Stranger6667 opened #34 "Restore handling relative paths in `pytest.mark.vcr`"
It was possible in `0.4.0`, but now it is not. However, before it was applied only to the first argument in `pytest.mark.vcr`, other arguments were treated like absolute. It will be nice to support relative paths for all arguments to the `vcr` mark

[2020-01-23 12:42] #34 closed

[2020-01-29 09:18] asmodehn opened #36 "new_episodes doc ?"
I wonder what is the intended logic behind the 'new_episodes' option ? I couldn't find it in the README, and I had some "strange" behavior with it...

I ran multiple requests to the same endpoint, in one vcr with `--record-mode=new_episodes`.
But only the first attempt of each request was registered.

So something like :
[code]

Will store only **2** requests/responses, one for `http://httpbin.org

[2020-02-10 01:16] northtree opened #37 "How to overwrite/update YAML under cassettes?"
If the response is changed, how could I just update the specify test without manually remove YAML file?

[2020-02-10 03:53] northtree opened #38 "Use default mode `once` in README"
I'm new to `VCR.py` and `pytest-recording`. Just setup for my scraper project today.

Followed by the `README` doc, I used `--record-mode=all` to run `pytest`. However, the tests will failed in CI (I used CircleCI) and the YAMLs under cassettes will be changed.

After read [VCR.py doc](https://vcrpy.readthedocs.io/en/latest/usage.html#once), I change to `--record-mode=once`. Now all the cassettes

[2020-02-10 10:29] Stranger6667 commented on #38
Hello @northtree !

It is a very good point, thank you for bringing it up :) Changed in 991ba71

[2020-02-10 10:29] #38 closed

[2020-02-10 10:40] Stranger6667 commented on #37
Hello @northtree !
I think that at the moment `--record-mode=new_episodes` might work, but depends - old requests will be still in cassettes and it might be not needed.

We can add a new command-line flag to provide this behavior, for example `--rewrite-cassettes` - it will remove cassettes automatically before recording. What do you think?

[2020-02-10 12:06] northtree commented on #37
@Stranger6667

I'm a little confused about `--record-mode=new_episodes` from [VCR](https://vcrpy.readthedocs.io/en/latest/usage.html#new-episodes) doc.

Replay previously recorded interactions.

Is ^^ replay one (Step 2) the new recorded in this run (Step 1), or from previous run (aka from yaml)?

[2020-02-10 12:13] Stranger6667 commented on #37
From the previous run, so the requests are not actually updated.

[2020-02-10 12:25] northtree commented on #37
Thanks. I just wonder why VCR.py didn't provide _overwrite_ mode, which is quite intuitive for beginner?

[2020-02-10 12:27] northtree commented on #37
@Stranger6667
Another question not related to this issue: If the user doesn't provide any param for `record-mode`, what's the related mode in VCR.py will be used?

[2020-02-10 12:29] Stranger6667 commented on #37
`none` will be used, as the safest default :)

We can either propose to add such mode there (it will be really convenient) or implement it here

[2020-02-11 00:35] northtree commented on #37
After installed `pytest-recording`, is there any option we could use to run tests without using VCR (aka accessing cassettes) ? I would like to have this option without manually comment out `@pytest.mark.vcr` for each test.

[2020-02-11 01:13] northtree opened #39 "How to setup common VCR config for all tests"
The following config seems not working under `tests/__init__.py`, but works within `tests/test_foo.py`, `tests/test_bar.py`...

[code]

[2020-02-11 08:30] Stranger6667 commented on #37
Yep, for example:

[code]

will disable VCR usage via this plugin completely

[2020-02-11 09:28] Stranger6667 commented on #39
It should be in `conftest.py`, `pytest` collects fixtures from `conftest.py` files (in most common cases)

[2020-02-12 04:13] northtree commented on #37
However, there will have `PytestUnknownMarkWarning`.

[2020-02-12 12:27] Stranger6667 opened #40 "Host names are not working in `allowed_hosts`"
Example from the README file:

[code]

It will fail on the first line:

[code]

[2020-04-18 09:48] #37 closed

[2020-04-30 04:48] joshtemple opened #42 "Write multiple tests to the same cassette"
Is it possible to write multiple tests to the same cassette? If multiple tests are making the same API calls, it's inefficient to record them again and again, better to use a shared cassette.

This is possible with `vcr.use_cassette`, but doesn't seem to be possible with `pytest.mark.vcr`, since the default cassette name is always the test name.

For example:
[code]

In this example, you will stil

[2020-05-05 21:09] DevilXD commented on #42
From what I can see by studying the code, you might be able to influence the "test function name -> file name" linking behavior by specifying a `def default_cassette_name(request):` fixture in your `conftest.py`. I am not entirely sure on this though, here is the source line that suggests this: https://github.com/kiwicom/pytest-recording/blob/ffe27e5aa7c78dbc0d1eff012335704852cc0d27/src/pytest_rec

[2020-05-06 10:16] Stranger6667 commented on #42
Indeed, a combination of `new_episodes` record mode and custom `default_cassette_name` should work, and unique requests (according to used matchers) will be written in the same cassette file. As I remember that this behavior was chosen to avoid ambiguity on request/response pairs distribution among multiple cassettes - so it always writes to the "default" cassette, which is indeed not always conve

[2020-05-06 12:29] DevilXD commented on #42
I think it'd be just fine to make it always write to the first cassette specified, while reading from all specified. If someone would need more control than that instead, I suggest making it possible to specify cassette fixtures as test arguments, roughly like pytest currently does with parametrization.

Reference: https://docs.pytest.org/en/latest/example/parametrize.html#parametrizing-conditiona

[2020-05-12 07:47] Stranger6667 opened #43 "Disallow multiple `network.block()` calls"
If `--block-network` CMD option is passed and if `network.block` is called in code then one will overwrite another and it depends on the execution order which may lead to hard-to-track bugs in tests (it actually happened in one of our projects)

[2020-06-02 02:47] pauloromeira opened #44 "Is it possible to register serializers/matchers?"
I'm trying to use a custom serializer and custom matchers. Is it possible?

[2020-06-03 19:46] #44 closed

[2020-06-05 22:44] paxcodes opened #45 "How to register matchers?"
I would like to [register my own matcher](https://vcrpy.readthedocs.io/en/latest/advanced.html#register-your-own-request-matcher).

I looked at `pytest-recording`'s source and noticed vcr is in _vcr.py ; Since it starts with an underscore, I'm guessing that it's not meant to be imported outside of the package?

How do I register my own matcher with pytest-recording?

[2020-06-06 09:40] Stranger6667 commented on #45
Hi!

At the moment it is not possible - I'll work on this feature

[2020-06-06 09:48] Stranger6667 commented on #45
I think we can declare a new pytest hook, so it will be backward-compatible. Something like this:

[code]

[2020-06-06 10:47] #45 closed

[2020-06-06 10:52] Stranger6667 commented on #45
This is released in 0.8.0. Let me know if it works for you :)

[2020-06-08 20:28] paxcodes commented on #45
Thanks for the quick response there @Stranger6667! Yes, I was able to register my matcher. 👍🏼

[2020-06-10 20:55] paxcodes opened #47 "[Bug] Using `once` record_mode gives error"
# Problem

Using `once` gives an error:

[code]

I ran this the first time so PATH_OF_CASETTE_FILE shouldn't exist although the error seems to say it exists. I checked the PATH_OF_CASETTE_FILE that the error specifies *before* I run my test the 2nd time and indeed no such file exists.

# To Reproduce

[code]

# Stacktrace
<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2020-06-12 13:53] Stranger6667 commented on #47
Hi @paxcodes

Thank you for reporting this! Indeed it is strange, I'll take a look - a similar code with only `VCR.py` has different behavior

[2020-06-12 14:03] Stranger6667 commented on #47
The problem is, that `record_mode` passed in the `vcr` mark is not passed to `VCR`. I'll fix that

[2020-06-13 13:59] paxcodes commented on #47
I believe it also does not work when I use the vcr_config fixture to set
the record_mode to 'once'

On Fri, Jun 12, 2020, 7:04 AM Dmitry Dygalo <notifications@github.com>
wrote:

[2020-06-13 14:37] Stranger6667 commented on #47
We have this:

[code]

But it actually should raise an error, but it interferes with some other parts - I am taking a deeper look

[2020-06-13 14:41] Stranger6667 commented on #47
So, `CombinedPersister` should raise an error only if no requests / responses were loaded from any cassettes. Will fix it soon

[2020-06-13 14:57] #47 closed

[2020-06-13 15:04] Stranger6667 commented on #47
I released a fix in `0.8.1`. Let me know how it works for your case

[2020-06-15 23:03] paxcodes commented on #47
Works perfectly. Thanks once again @Stranger6667!

[2020-06-25 15:06] nomasprime opened #49 "Improve Readme"
Readme doesn't document requirements, setup process, etc.

I've installed pytest-recording and hacking around now to get it working but would be great if this was all part of the Readme.

[2020-06-25 15:14] nomasprime commented on #49
Of course as soon as I raised this I discovered that cassettes are being recorded just in a location I didn't expect 😄

[2020-06-25 15:19] Stranger6667 commented on #49
Hi!
Thank you for bringing this topic! It is definitely something we can improve :) What do you think if we'll add some kind of quickstart guide that will include all steps from an existing project without VCR / pytest-recording to fully working test suite + document how cassettes are recorded? Are there any particular points (besides those you mentioned in the first message) you think we need to

[2020-06-25 15:24] nomasprime commented on #49
Hey @Stranger6667, that's a great idea.

I'm new to Python and think it was mostly me not realising a couple of fairly obvious things but your suggestion probably would reduce the friction to virtually nothing 👍

[2020-06-25 15:26] Stranger6667 commented on #49
Would you mind reviewing it once I'll have a prototype? Not sure when I'll have time to get into this, but probably this week

[2020-06-25 15:59] nomasprime commented on #49
Thanks @Stranger6667. Of course, happy to help anyway I can.

[2020-06-25 18:05] nomasprime opened #50 "Doesn't seem to work with requests inside a Twisted Reactor process"
Hi, I'm new to Python so apologies in advance if this is obvious or I don't explain things very well.

For a learning project I'm writing a web scraper with tests. In the following example it works as expected with the commented out line but requests inside the CrawlerProcess/Twisted Reactor aren't being picked up.

[code]

I'm not sure if this is a bug or I'm just doing something wrong?

[2020-06-25 18:33] Stranger6667 commented on #50
Hi!

There could be multiple reasons for such behavior. To untackle what is going on let's start from the environment. What versions of python, vcrpy, pytest-recording, Twisted and (I assume that it is the case) scrapy are you using? You can get packages info from the `pip freeze` output. Also, what OS are you using? If e.g. it is Windows and `CrawlingProcess` actually spawns a new process, then t

[2020-06-25 18:43] nomasprime commented on #50
Thanks @Stranger6667, really appreciate your help.

I'm on MacOS 15.15.5 with Python 3.8.3.

pip output:

[code]

I saw the [VCR compatibility doc](https://vcrpy.readthedocs.io/en/latest/installation.html#compatibility) and wondered if maybe Scrapy isn't compatibly?

[2020-06-25 19:05] nomasprime commented on #50
[Looks like](https://github.com/scrapy/scrapy/blob/master/scrapy/core/downloader/webclient.py) Scrapy uses twisted.web.

[2020-06-25 19:48] Stranger6667 commented on #50
Unfortunately, VCR doesn't support `twisted.web`. I see a couple of things we can do about it:
- Implement it in VCRPy. Quite hardcore option, to be honest, but still possible. In short, we'll need to implement certain mocks for twisted interfaces, I can't assess complexity at the moment;
- Since twisted.web uses sockets under the hood there are some other tools, that might help, for example, [HTT

[2020-06-25 20:02] nomasprime commented on #50
I've raised the issue with VCRpy and I'll look into, assume you meant, HTTPretty.

Also found [this answer on StackOverflow](https://stackoverflow.com/questions/51085665/mocking-the-requests-for-testing-in-scrapy-spider) which talks about simply using Scrapy's built-in cache.

I'll have a play around with both.

Thanks @Stranger6667.

[2020-06-25 20:02] #50 closed

[2020-06-25 20:12] Stranger6667 commented on #50
@nomasprime yep, I meant HTTPretty

You are very welcome! :)

[2020-06-26 13:20] nomasprime opened #51 "Decode compressed response"
I have the following in my conftest.py:

[code]
But decoding is happening intermittently.

[2020-06-26 13:22] Stranger6667 commented on #51
Hi @nomasprime!

Could you, please, elaborate? Are there some specific request / response pairs where it doesn't happen? Or how can I reproduce this behavior?

[2020-06-26 13:26] nomasprime commented on #51
Not decoding:

[code]
Decoding:

[code]

[2020-06-26 13:48] Stranger6667 commented on #51
The behavior is not really documented in VCRpy, but it happens because of the payload encoding - the decoded one is `UTF-8`, and base64 one is `ISO-8859-1`.
So, the first one raises an exception [here](https://github.com/kevin1024/vcrpy/blob/master/vcr/serializers/compat.py#L45) and that function returns `bytes`. Then the whole cassette data is passed to `yaml.dump`, which serializes `bytes` to ba

[2020-06-26 13:50] Stranger6667 commented on #51
I.e. `www.google.com` returns responses in different encodings for different user-agents :) And then they are stored differently

[2020-07-03 13:52] nomasprime commented on #51
I see, very good explanation. Thanks @Stranger6667.

[2020-07-03 13:52] #51 closed

[2020-07-11 11:49] Diaoul commented on #42
I like the idea of having more control over the cassettes being used.

[2020-07-11 21:59] Diaoul commented on #42
So here is my use case as it is slightly different from what this ticket was originally about: I want to isolate some recordings done in a fixture in a specific cassette so it is not recorded for every test running the fixture.

Example: a fixture that provides a logged in client for a specific API to other tests
[code]

[2020-07-18 17:17] MartinThoma opened #52 "What is the relationship to pytest-vcr?"
I have seen [pytest-recording](https://github.com/ktosiek/pytest-vcr) (on [pypi](https://pypi.org/project/pytest-recording/)) which looks pretty similar:

* Uses `@pytest.mark.vcr`
* Both seem to be wrappers around vcr.py
* 49 stars, 3 forks, 2 contributors vs 67 stars, 17 forks, 7 contributors
* First tag in 2019 vs first tag in 2017

My guess is that `pytest-recording` is a fork of `pytest-vcr`.

[2020-07-18 19:14] Stranger6667 commented on #52
Hello @MartinThoma

Thank you for asking! It is not a fork, but implementation from scratch. I had a slightly different vision of plugin's API and features. We used `pytest-vcr` before and [submitted](https://github.com/ktosiek/pytest-vcr/pull/25) a PR to adjust the API. However, it wasn't addressed by the `pytest-vcr` author and some other PRs were not addressed either - to me, the library looked

[2020-07-18 20:49] MartinThoma commented on #52
Thank you very much! This helps a lot :-)

[2020-07-18 20:49] #52 closed

[2020-07-30 10:22] Stranger6667 opened #53 "Drop Python 2 support"

[2020-07-30 10:50] #53 closed

[2020-07-30 11:38] Stranger6667 opened #55 "TypeError when using network blocking with address as bytes"
[code]

`bytearray` is also a possible type

And the code to trigger:

[code]

[2020-07-30 11:49] #55 closed

[2020-08-13 12:20] #12 closed

[2020-09-25 12:22] jraregris commented on #36
I wondered about this, too. I found some docs on vcr.rb, https://relishapp.com/vcr/vcr/v/5-1-0/docs/record-modes/new-episodes and assume this is the same behaviour.

[2020-09-27 11:07] Stranger6667 opened #59 "[FEATURE] Add release automation"
To automate releases we could use something similar to what I have in [this repo](https://github.com/Stranger6667/pytest-click/blob/master/.github/workflows/release.yml)

[2020-09-28 09:36] Stranger6667 commented on #49
Implementation notes for anyone willing to contribute (or for myself, when I'll get back to it):
- Add the "Installation" section before "Usage";
- Add installation instructions like `pip install pytest-recording`;
- Mention that this plugin is not compatible with `pytest-vcr` and you need to uninstall `pytest-vcr` to use `pytest-recording`;
- In the readme, add a link to the VCR-py repo where app

[2020-09-28 09:39] Stranger6667 commented on #39
Hopefully, the problem is resolved now. We can add some clarification to our `Configuration` section as a part of #49.

Feel free to reopen this issue in case of any further questions

[2020-09-28 09:39] #39 closed

[2020-09-28 09:46] Stranger6667 commented on #40
Not sure if it is possible to do on this level since we don't have the domain name when we connect to a socket. As an alternative - we can patch some known libraries (as VCR does) and then filter there, but it would be a too broad scope change. Maybe we can remove support for domain names and support only IP addresses

[2020-09-28 09:48] Stranger6667 commented on #23
Feel free to reopen this issue if the problem is still there. I hope that #16 will be implemented during this year's Hacktoberfest

[2020-09-28 09:48] #23 closed

[2020-09-28 09:58] Stranger6667 commented on #36
Sorry for not responding here for way too long.

Yes, `pytest-recording` relies on the `VCR-py` behavior, a port of Ruby's VCR gem.
Unfortunately, there is not much about this mode in the [VCR-py docs](https://vcrpy.readthedocs.io/en/latest/usage.html#new-episodes), and I think that it would be better to improve it there and avoid duplication on the `pytest-recording` side. However, we can add a r

[2020-09-28 09:58] #36 closed

[2020-10-13 21:31] Stranger6667 opened #61 "[FEATURE] Run Python 3.9 builds"
- Add `39` to `envlist` in `tox.ini`
- Add `39` to `depends` of the `coverage-report` job in `tox.ini`
- Add `Programming Language :: Python :: 3.9` to the classifiers list in `setup.py`
- Add Python 3.9 job in `.github/workflows/build.yml` similarly to other builds

[2020-10-14 04:56] pengincoalition commented on #61
Can I work on this issue.

[2020-10-14 08:23] Stranger6667 commented on #61
Sure!

[2020-10-14 13:19] #61 closed

[2020-10-26 16:24] thatguysimon opened #63 "More robust message for network access blocking"
Hi!
It would be great to see a more robust error message than "Network is disabled".

Some ideas for what it could contain:

1. A title saying that the error is coming from this package
2. A short summary of what happened. Why the error was raised.
3. The http request that was made
4. The list of configured allowed hosts (for quick comparison with the actual request made)
5. Possible ways to solve

[2020-11-20 10:28] MasterSergius opened #64 "Flag to turn on/off vcr"
Hi,
I'd like to have some flag (the best option env variable), to turn on/off vcr for tests marked with `@pytest.mark.vcr`.
By default it should work as is. But if I set env variable "USE_VCR=false" it should run real http requests and no cassetes should be rewritten. Or it is possible to achieve somehow with CLI options, custom decorators, etc?

[2020-11-24 14:43] MasterSergius commented on #64
I'd like to make small update (until better solution is introduced): it's possible to override vcr fixture, thus I can turn it on/off in overridden fixture in many different ways.

[2020-11-24 18:18] Stranger6667 commented on #64
Hi there!

Thank you for asking! Unfortunately, I didn't have much time to respond, but I will get back to you tomorrow :)

[2020-11-25 13:48] Stranger6667 commented on #64
Yep, it is currently possible with overriding existing fixtures. #65 introduces the ``--disable-recording`` CLI option that completely disables the VCR.py integration, but I am not yet sure about adding an env variable - maybe env variables can be introduced later.

[2020-11-25 13:49] #64 closed

[2020-11-25 13:57] Stranger6667 commented on #59
Resolved via f9d6db70581f927d3a4cdd4fe1b85afab465642e

[2020-11-25 13:57] #59 closed

[2020-11-25 14:03] Stranger6667 commented on #64
This feature is released in [0.11.0](https://pypi.org/project/pytest-recording/0.11.0/)

[2020-11-25 17:00] MasterSergius commented on #64
Thank you for quick action :)

[2020-11-25 17:15] Stranger6667 commented on #64
You're very welcome! :)

[2021-03-12 15:03] paxcodes opened #66 "[BUG] Default record_mode is 'none' instead of 'once'"
**Describe the bug**
When I use the decorator without passing any record_mode (`@pytest.mark.vcr`), I get an error saying,

[code]

The VCR [docs](https://vcrpy.readthedocs.io/en/latest/usage.html#record-modes) says the default mode is "once" and pytest-recording doesn't mention the default mode, implying it follows VCR's.

**To Reproduce**
Use the sample test in the docs,

[code]

**Expected beha

[2021-03-12 15:14] Stranger6667 commented on #66
Thank you for pointing this out!

I completely missed mentioning it in the docs - this behavior is intentional to avoid network calls by default. It was a major problem at kiwi.com when I was working there, and therefore we choose a more conservative approach here. I'll update the docs soon.

[2021-03-12 15:52] Stranger6667 commented on #66
The docs are updated

[2021-03-12 15:52] #66 closed

[2021-07-02 21:56] arthurio commented on #66
@Stranger6667 For my personal case I wanted to have `once` by default, so I set the config:

[code]

Unfortunately, when you do that, passing options to pytest doesn't overwrite it... e.g. `pytest --record-mode=rewrite` would still execute with `once`. Should I open another issue for that or is there another trick I don't know about?

[2021-07-02 22:31] Stranger6667 commented on #66
@arthurio
Yes, please, open a separate issue for it

[2021-07-05 11:06] selevit opened #67 "Cassettes ordering can be changed in the multi-cassette mode"
You use `startmap` to make the cassette list unique, but it leads to the situation when ordering of the cassettes can change, because map keys isn't ordered. I faced with this problem, when my tests failed in CI, but worked locally because of this.

https://github.com/kiwicom/pytest-recording/blob/e0ae83d20ea587fbad3e27e70fa011243dc7f2df/src/pytest_recording/_vcr.py#L45

BTW, what for do you make

[2021-07-05 12:01] Stranger6667 commented on #67
Hi!

First of all, thank you for reporting this! I am glad you like the library :)

On the reported issue:

As far as I see, `starmap` [exhausts](https://github.com/python/cpython/blob/bb3e0c240bc60fe08d332ff5955d54197f79751c/Modules/itertoolsmodule.c#L1919) the iterable, which, in this case, consists of loaded cassettes from the following paths:
 - the default cassette path
 - `extra_paths` (whic

[2021-07-05 12:52] selevit commented on #67
This is a part of `CombinedPersister.load_cassette` method:

[code]

Firstly, you convert the cassette list to map. And then you convert it back to the list. Here the ordering can be missed.

[2021-07-05 13:05] Stranger6667 commented on #67
It doesn't convert the cassette list to a map, it is a `starmap` object from the [itertools](https://github.com/python/cpython/blob/bb3e0c240bc60fe08d332ff5955d54197f79751c/Modules/itertoolsmodule.c#L1855) module, which holds two references (besides the regular `PyObject` boilerplate) - one to the first argument, and the second to the iterator from the second argument. There is no map involved.

A

[2021-07-05 13:07] selevit commented on #67
Yes, you're right my bad. I think the issue is not in the `startmap` func, but in the `unique` method, which does actually return the map of the cassettes path.

[2021-07-05 13:09] selevit commented on #67
Ah, hang on, sorry, `unique` uses the map only for checking if the value is seen.

[2021-07-05 13:09] selevit commented on #67
Let me recheck.

[2021-07-05 13:37] selevit commented on #40
As an option - we can try to resolve the host ip if possible.

[2021-07-05 15:13] selevit commented on #67
I realised that VCR doesn't care about the cassette ordering. It just tries to find a suitable request and plays it.

https://github.com/kevin1024/vcrpy/blob/c79a06f639dd628536c9868044e78df1012985f9/vcr/cassette.py#L254

This method just checks, if `request in self` and that's it. It means that it doesn't make a lot of sense to remove `unique` from `CombinedPersister.load_cassette `, as we discuss

[2021-07-05 15:13] selevit commented on #67
Sorry for taking your time on this, I'm gonna close the requests.

Thanks a lot for the fast response!

[2021-07-05 15:13] #67 closed

[2021-07-05 15:29] Stranger6667 commented on #67
@selevit
No worries! I am happy to discuss any issues happening within the library's scope :)

Feel free to open another issue if there is anything we can improve

[2021-07-08 09:27] AndreCimander opened #68 "[BUG] record_mode set via vcr_config fixture and marker not honored by block_network"
**Describe the bug**
Setting the `record_mode` via config fixture nor marker is not honored by block_network. The record_mode variable in block_network is still in default state `"none"`.

**To Reproduce**

[code]

**Expected behavior**
Shouldn't raise a `RuntimeError` since we are supposed to be recording.

**Environment (please complete the following information):**

- OS: Linux(Manjaro)
- Pytho

[2021-07-08 16:37] Stranger6667 commented on #68
Hi,

Thank you for your detailed report!

I think that there are two related things.

First, the `block_network` mark is not checked for input arguments - at this point, it should accept only `allowed_hosts`, nothing else. I missed that originally, but it will be nice to check the input arguments (and for the `vcr` mark as well to avoid typos)

Second, the `record_mode` option is indeed ignored wh

[2021-07-08 16:39] Stranger6667 opened #69 "[FEATURE] Validate input arguments for `vcr` and `block_network`"
**Is your feature request related to a problem? Please describe.**
It is confusing when arguments with typos are silently ignored in those marks. E.g., #68

**Describe the solution you'd like**
Validate input arguments for all pytest marks defined in this plugin

[2021-07-08 17:59] #69 closed

[2021-07-08 18:19] #68 closed

[2021-07-08 18:28] Stranger6667 commented on #68
@AndreCimander

The fix is released in `0.12.0`; let me know if the fix solves your use case :)

[2021-07-09 08:48] AndreCimander commented on #68
Works like a charm, thank you for the quick reaction and fix! :+1:

(already planned to vendor a custom block_network as a quickfix(aka the cobblestones to hell :smile: ), which thankfully is now avoided. )

[2021-07-09 08:50] Stranger6667 commented on #68
Great to hear that! :)

Feel free to reach out to me if there are any other issues with `pytest-recording` :)

[2021-07-09 18:48] rgreinho opened #72 "[QUESTION] How to rewind a casette?"
**Describe the problem**
Is it possible to rewind a cassette using `pytest-recording`?

Basically I am trying to reproduce this use case: https://vcrpy.readthedocs.io/en/latest/advanced.html#rewind-cassette

If so updating the documentation would be great, and I'll be happy to write the update if there is a solution to this problem.

[2021-07-09 23:08] rgreinho commented on #72
I did find the answer in the [article that was linked in the README](https://code.kiwi.com/pytest-cassettes-forget-about-mocks-or-live-requests-a9336e1caee6)!

Use the `pytest.mark.vcr` decorator like this:

[code]

I'll send a patch to add this to the README directly, as I think it is a very useful information.

[2021-07-09 23:08] #72 closed

[2021-07-13 09:07] AndreCimander opened #73 "[FEATURE] Tap into additional vcr_config parameters in block_network for allowed_hosts"
This is kinda a chimeric issue. Related to my https://github.com/kiwicom/pytest-recording/issues/68, `block_network` should also have the option to set `allowed_hosts` via vcr_config, imho.

But then I thought "aren't the `ignore_localhost` and `ignore_hosts` parameters from the vcr_config basically the same as allowed_hosts?". VCRpy is adding localhost, 0.0.0.0 and 127.0.0.1 if `ignore_localhost`

[2021-07-15 15:16] Stranger6667 opened #74 "[FEATURE] A way to allow all local IPs in network blocking context"
**Is your feature request related to a problem? Please describe.**
When running in `docker-compose` you need to resolve local services first (e.g. DB) and then pass them to `--allowed-hosts`.

**Describe the solution you'd like**
Add `--allow-local-ips` flag to CLI + related arg to the `block` mark to allow requests to local IPs.
Use something like `ipaddress.is_local` to check all IPs in such a c

[2021-07-15 15:20] Stranger6667 opened #75 "[FEATURE] Provide a way to use pytest_recording without `pytest.mark.vcr` decorator"
**Is your feature request related to a problem? Please describe.**
It might be convenient to use `_vcr.use_cassette` directly for granular control of VCR setup & teardown mechanisms.

**Describe the solution you'd like**
Create a separate function that will not depend on pytest-related types & expose it as a part of the public API. It might be used by `_vcr.use_cassette` under the hood (or, likely

[2021-07-30 15:50] CharString commented on #75
pytest-vcr has a `vcr` fixture that gives you the configured VCR object so you can swap cassettes mid-test and test non-safe methods in 'once' recording mode.

[code]

[2021-08-26 13:32] NotBigSimon opened #76 "[FEATURE] Record pytest fixtures"
**Is your feature request related to a problem? Please describe.**
In my project i am using fixtures with scope="session" and the requests that are made in the fixture setup are not being recorded, neither in the test casettes, nor in a separate casette, when i mark the fixture with @pytest.mark.vcr

**Describe the solution you'd like**
I would like it to be possible to decorate fixtures  with @py

[2021-09-24 16:01] rpocase commented on #74
Is there an alternative that doesn't rely on resolving hostnames? I have a handful of backing services that are communicated with via HTTP, but their IPs are not necessarily local (e.g. [gitlab services](https://docs.gitlab.com/ee/ci/services/)). I would expect doing something like `--allowed-hosts=backing_service1,backing_service2` to work, but I can't get past `Network Blocked`.

[2021-09-27 10:37] selevit commented on #74
@rpocase, there is a different ticket for hostname resolving - #40.

BTW, python `ipaddress.is_private` function, will most likely consider your gitlab services as local ip addresses, as they should relate to the same docker network. @Stranger6667, I think we can replace `ipaddress.is_local` to `ipaddress.is_private` in the ticket description.

https://docs.python.org/3.9/library/ipaddress.html#ip

[2021-09-27 16:04] MasterSergius opened #77 "[BUG]"
**Describe the bug**
Can't write cassette for file uploading. Is it possible to achieve that?

**To Reproduce**
Steps to reproduce the behavior:

1. Sample piece of code, which I want to cover with integration test
[code]
2. Test:
[code]

3. While test is passed, vcr failed to write cassette:
[code]

**Expected behavior**
pytest-recording should not fail and provide some mock for IO objects or smt

[2021-10-10 21:19] dAnjou opened #78 "[FEATURE] Parameterize vcr_config"
**Is your feature request related to a problem? Please describe.**

I'm working on a library that supports multiple web services behind a single interface.

Now I've written some tests for that interface and would like to run them for each of the web services I support. This is where pytest's fixture parameterization shines and it works well without VCR in the picture, the implementations simply m

[2021-11-24 16:53] FlorianGD opened #79 "[FEATURE] usage for doctests"
Foreword: thank you for this plugin, I like the API, and it is really useful.

**Is your feature request related to a problem? Please describe.**
The plugin works very well for normal tests, but I'd really like to use it with doctests.
I run those with `pytest --doctest-modules` and/or `pytest --doctest-glob="*.rst"`. I can define a `conftest.py` file, but in it I can define fixtures, and not test

[2021-11-24 17:06] Stranger6667 commented on #79
Thank you for creating this issue!

This is an interesting feature! Unfortunately, I don't have the bandwidth to work on it myself in foreseeable, but would be happy to review a patch :)

[2021-11-24 17:25] FlorianGD commented on #79
OK, thanks for your quick reply! If I come up with something usable, I'll make a PR, but not sure I can do it in the next few weeks.

[2021-11-24 17:28] Stranger6667 commented on #79
Sure! Feel free to open a draft PR - it might be easier to start the discussion there :)

[2021-11-24 17:48] FlorianGD commented on #79
For what it's worth, I hacked something like this, I put it here for others / if I do not have the bandwidth to make a proper PR:

In `conftest.py`

[code]

[2021-11-25 17:07] FlorianGD commented on #79
Having a look at https://github.dev/astropy/pytest-doctestplus and they define a doctest option flag for REMOTE_DATA. We could add an option flag like `# doctest: +MARK_VCR` to indicate that the line should be executed through a cassette maybe.

But their package entirely skips Shpinx as far as I can tell, they collect and run the tests on their own. Maybe something lighter can be done

[2022-04-04 16:45] joshtemple commented on #76
What could be done to make `pytest-recording` work for fixtures? I'd like to use this library for all VCR so we can ensure headers are filtered by default, but we can't currently do that if it doesn't support recording for `session`-scoped fixtures.

[2022-04-15 02:33] dragonpaw opened #80 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
Support options in pytest config file

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I know I can use addopts, but my addopts line is getting very, very long... ;)

**Additional context**
Great plugin, love it!

[2022-04-15 03:05] dragonpaw opened #81 "[FEATURE] Delete casette if test fails when running with --record-mode=once"
**Is your feature request related to a problem? Please describe.**
When I'm building a new test, I'll run the test with --record-mode=once, but the test might fail (since it's new) and I then have to go delete the file so it'll re-record. It's kinda an annoyance to go find and make sure I delete the right file.

**Describe the solution you'd like**
I'd love it if there was some logic where when ru

[2022-04-21 12:10] CarloDePieri commented on #81
@dragonpaw I had this same problem some time ago; since I couldn't find any existing solution I wrote a pytest plugin that deletes cassettes of failed test by using a flexible decorator.
It does not depends on pytest-recording directly, but integrates nicely with it since it uses its same cassettes' default path. See if it suits your needs.

[pytest-vcr-delete-on-fail](https://github.com/CarloDePi

[2022-05-17 10:21] CarloDePieri opened #83 "[BUG] having this plugin enabled breaks Intellij Idea failed test reports"
Ok, so this was a weird one to debug...

Simply having the `pytest-recording` plugin enabled breaks [Intellij Idea](https://www.jetbrains.com/idea/) pytest
[failed test reports](https://www.jetbrains.com/help/idea/product-tests.html) in some specific test cases
([here is an example](https://github.com/CarloDePieri/pytest-recording-idea-issue/blob/main/tests/test_issue.py)):

- a test cassette is b

[2022-06-15 20:38] joshtemple commented on #76
@Stranger6667, I'd be happy to submit a PR to support marking fixtures in this library. Could you please point me in the right direction or any known blockers?

[2022-06-20 11:23] birkhola commented on #76
For scope="module" it also does not record.

[2022-06-20 18:49] Stranger6667 commented on #76
Hi everybody! Sorry for the delay.

I think that the way to approach this is to use the logic from the `_vcr.py` module with fixtures of non-"function" scope. For example, make each "session" fixture depend on a separate "vcr_session" fixture that works similarly to [vcr](https://github.com/kiwicom/pytest-recording/blob/master/src/pytest_recording/plugin.py#L153). I.e. opens a context manager that

[2022-07-10 15:59] ubalklen opened #86 "Is there a no decorator mode?"
I have many tests and I want almost all of them to be recorded. Is there a way to record all of them by default without the need of adding a decorator to each one?

[2022-07-10 16:24] Stranger6667 commented on #86
you could use a module-level `pytestmark` or use hooks to mark tests dynamically.

[code]

See more in Pytest [docs](https://docs.pytest.org/en/7.1.x/example/markers.html#marking-whole-classes-or-modules)

[2022-07-10 19:19] ubalklen commented on #86
That will do. Thanks!

[2022-07-10 19:19] #86 closed

[2022-07-12 14:30] ubalklen opened #87 "Conflict with requests-ntlm ('NoneType' object has no attribute 'raw')"
I'm getting a `AttributeError: 'NoneType' object has no attribute 'raw'` when trying to record tests that access sites that use NTLM authentication via the requests plugin [`requests-ntlm`](https://github.com/requests/requests-ntlm).

I don't know how to provide a reproducible sample without actually having a NTLM site, but here is a minimal code showing what is happening:

[code]

If I turn `pyte

[2022-07-15 18:19] renovate[bot] opened #91 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update actions/setup-python action to v4

## Open

These updates have all been created already. C

[2022-08-30 23:39] ghost opened #94 "Filter sensitive data from response/how to use `before_record_response`?"
One of my cassettes makes a call to an authorization endpoint and therefore has sensitive data (`access_token`, etc) in the response body. Is there a way to filter the sensitive data from the response body, similar to the `before_record_response` function in vcr.py? I tried calling that function from my code but it didn't work: `@pytest.mark.vcr(before_record_response=lambda r: None)`.

[2022-10-06 02:39] psdon commented on #94
Use vcr_config
[code]

[2022-10-16 14:22] Stranger6667 commented on #94
Indeed, the `vcr_config` fixture should be used for this purpose

[2022-10-16 14:22] #94 closed

[2022-10-16 14:27] Stranger6667 commented on #87
Hey! Sorry for the delay.

I think the core reason is how VCR.py mocks `requests`. I assume it doesn't create raw response (from `urllib3`) when it takes response from a cassette. I.e. it should be fixed there, but I'd be happy to keep this issue open to track the progress.

[2022-10-19 14:04] Stranger6667 opened #96 "[FEATURE] Add Python 3.10 support"
Update the builds, tox, classifiers, etc

[2022-10-19 14:04] Stranger6667 opened #97 "[FEATURE] Drop Python 3.5 / 3.6 support"
Update the builds, tox, classifiers, etc